@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');





:root{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    --font-size: 13px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size);
    font-family: 'Rubik', 'Manrope';
    background-color: var(--Light-Grayish-Blue);
}


footer{
    
    text-align: center;
    padding: 0.5rem 0;
    font-size: 0.8rem;
    margin-top:auto
}

footer a{
    text-decoration: none;
    color: black;

}
.visual-zone img{
    width: 100%;
    height: auto;
    display: block; /* elimina espacios fantasmas de imágenes inline*/
}


main{
 
    flex: 1; /* ocupa el espacio disponible */
    display: flex;
    align-items: center;
    margin: 30px; /* los px son válidos porque son espacios estructurales pequeños*/
  
}

.card{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    gap: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.8rem; 
    overflow: hidden; /* si no le pongo el border raius no se verá por los hijos dentor del column que son imagenes/ocupan todo el ancho y se sobreponen*/
}

.card .content-zone{
    padding: clamp(1.8rem, 3vw, 2rem);
    line-height: 1.5;
}


.card .content-zone h3{
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 500;
    font-size: clamp(0.950625rem, 0.863rem + 0.3739vw, 1.03125rem);
}

.card .content-zone .content{
    color: var(--Grayish-Blue);
    font-size: clamp(0.8125rem, 0.7174rem + 0.4058vw, 0.9rem);
    margin-top: 0.8rem ;
    margin-bottom: 20px;
}

.meta-info{
    position: absolute;
    margin-top: 1.5rem;
    font-family: 'Manrope';
    font-weight: 100;
    color: var(--Light-Grayish-Blue);
    font-size: 10px;
    left: 0px;
    bottom:0px;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 20px;
   
   
 
}




.meta-info img{
    width: 16px;
    height: 16px;

    
}


.meta-info .avatar img{
    border-radius: 50%;
    width: 28px;
    height: 28px;

}

.author{
    display: flex;
    align-items: center;
    gap: 1rem;
   
}

.author-text{
    display: flex;
    flex-direction: column;

}

.author-text p{
  padding: 0;
  margin: 10px;
  gap: 1rem;
  line-height: 1.5;
}

.author-text .name{
  font-weight: 500;
  color: var(--Very-Dark-Grayish-Blue);
  font-size: clamp(0.75rem, 0.6141rem + 0.5797vw, 0.875rem);
}

.author-text .date{
  font-weight: 300;
  color: var(--Grayish-Blue);
  font-size: clamp(0.75rem, 0.6141rem + 0.5797vw, 0.875rem);

}



.author-text p {
  padding: 0;   /* ← MUY IMPORTANTE para evitar excesiva separación de los dos hijos p */
  margin: 0;
}



.footer-zone{

    height: 64px;

}


.share-toggle-button {
    position: absolute; /* respecto a .card */
    bottom: 20px;       /* lo “ancla” a la parte inferior del footer */
    right: 1.8rem;
    z-index: 3;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    width: 30px;
    height: 30px;

}




.share-toggle-button img{
  width: 14px;
  height: 14px;
}


.footer-zone .share-options-panel{  /* -share-active es una clase que se pondria en la clase card para mostrar que en ese estado la card s emeustra diferente  “Cuando la card tenga la clase share-active, entonces selecciona el hijo .share-options-panel”  */
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 0.8rem;
    padding: 1.2rem 1.5rem;
    background-color: var(--Very-Dark-Grayish-Blue);
    color: var(--Light-Grayish-Blue);
    border-radius: 0 0 0.8rem 0.8rem;
    padding: 1.5rem 3rem;

}


.card .share-options-panel img{
   color: var(--Light-Grayish-Blue);
   width: 15px;
}


/*estado activo del botón*/

.card.share-active .share-toggle-button {
  background-color: var(--Grayish-Blue);
}


/*filter es una propiedad CSS que permite modificar visualmente imágenes y elementos, aplicando efectos como brillo, contraste, saturación, etc.   brightness(0) → hace que la imagen quede totalmente negra.

Explicación: brightness(1) es normal, brightness(0) quita todo el brillo → negro.

invert(1) → invierte los colores.

0 → normal

1 → invierte completamente los colores

Si la imagen estaba negra por el brightness(0), invertirla la vuelve blanca.*/

.card.share-active .share-toggle-button img {
  filter: brightness(0) invert(1);
}

/* estado activo  del panel*/

.share-options-panel {
    opacity: 0;
    pointer-events: none;
    transform: translateY(8px);
    transition: opacity 0.3s ease, transform 0.25s ease;
}



.card.share-active .share-options-panel {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}


.share-options-panel button {
  background: none;
  border: none;
}


/*extras*/

.share-options-panel button {
  transition: transform 0.2s ease, opacity 0.2s ease;
}

@media (hover: hover) {
  .share-options-panel button:hover {
    transform: translateY(-5px);
    opacity: 0.8;
    cursor: pointer;
  }

  

}


.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/*sintaxis de box-shadow  === > box-shadow: offset-x offset-y blur-radius spread-radius color inset;*/
@media (hover: hover) {
  .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 10px rgba(72, 70, 70, 0.7);
  }
}

.share-toggle-button{
    transition: transform 0.2s ease , opacity 0.2s ease;
}

@media (hover: hover) {
  .share-toggle-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 50px rgba(72, 70, 70, 0.7);
    
  }
}



/* versión destopk  */



@media(min-width:720px){


   
    .card{
        grid-template-columns: 1fr 1fr;
        width: 60%;
        min-width: 645px;
        height: auto;
        overflow: visible;
        max-width: 652px;
      

    }

    

    .meta-info{
        position: static;
        
    }

    .content-zone{

        position: relative;
    }


    main{
        justify-content: center ;
    }

    .visual-zone img{
        width: 100%;
        height: 100%; 
    }

    .card .content-zone h3{
        font-size: clamp(0.8125rem, 0.75rem + 0.1389vw, 0.875rem);
    }

    .card .content-zone .content{
        font-size: clamp(0.6875rem, 0.625rem + 0.1389vw, 0.75rem);
    }
     
    .meta-info{
        padding: 0;
        margin: 0;

    }
    .author-text p{
        padding: 0;
        margin: 0px;
        gap: 0rem;
        line-height: 1.5;
    }

    .author-text .name , .author-text .date{
        font-size: 10px;
       
    }
    
    .author-text .name{
      font-weight: 600;
    }


    .footer-zone{
     position: relative;
     height: auto;
   
    }

           
    .share-toggle-button {
        bottom: 10px;       /* lo “ancla” a la parte inferior del footer */
        right: 0.5rem;
        width: 24px;
        height: 24px;
    }


        
     .footer-zone .share-options-panel {
        position: absolute;
        bottom: 10%;
        right: 1rem;
   
        width: max-content;
        height: 40px;
        padding: 1rem;
        border-radius: 0.4rem ;
        background-color: var(--Very-Dark-Grayish-Blue);
        font-size: 0.5rem;
        letter-spacing: 0.2rem;
        color: var(--Grayish-Blue);
        align-items: center;
        justify-content: center;
    }

    .footer-zone .share-options-panel{
        left: 10.2rem;      /* ← RESETEA */
        right: auto;   /* ← AHORA SÍ SE MUEVE */
        bottom: calc(100% + 12px);
        width: max-content;
        
    }


   
  .share-options-panel::after {
        content: "";
        position: absolute;
        top: 100%;
        right:50%;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid var(--Very-Dark-Grayish-Blue);
    }


    .card .share-options-panel img{
        width: 12px;
        height: auto;
        
    }

    .share-options-panel button{
        height: 15px;
    }

    .content-zone{
        position: relative;
        border-radius: 0.8rem;
    }
   





}



}

